#title {
    background-color: #ff4949;
    color: #fff;
}

.container-fluid {
  padding: 3% 15%
}

body {
  font-family: "Montserrat", sans-serif;
}

/* Headings */

.main-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
}

.service-heading{
  font-family: "Montserrat", sans-serif;
  font-size: 2.2rem;
  line-height: 1.5;
}

/* Title Image */

.archi-sketch {
  width: 70%;
}

/* Title Buttons */

.title-button {
margin: 8% 3% 5% 0;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 15px;
}

.nav-link {
  font-size: 1.2rem;
}

/* Services Section */

#services {
  padding: 7% 15%;
background-color: #eeeeee;
}

.service-icon {
  text-align: center;
}

p {
color: #8f8f8f;
}

.fas {
  color: #ff6666;
  margin-bottom: 1rem;

}

.fas:hover {
  color: #ff4949;
  }

/* Experience Section */

#experience {
  background-color: #eeeeee;
  text-align: center;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.experience-desc {
  color: #8f8f8f;
}

.carousel-item {
  padding: 7% 15%
}

.experience-image {
  width: 8%;
}


/* Programs Section */

#programs {
  padding-bottom: 4%;
  background-color: #eeeeee;
  text-align: center;
}

.revit {
  width: 5%;
  margin: 0 2% 0;
}
.autocad {
  width: 5%;
  margin: 0 2% 0;
}
.sketchup {
    width: 5%;
    margin: 0 2% 0;
}

/* Pricing */

#pricing {
  padding: 5%;
  text-align: center;
  }

.pricing-slogan {
color: #8f8f8f;
}

.pricing-column{
  padding: 3% 2%;
}

.card-header {
  background-color: #ff6666;"
  }

  .price-header {
  color: #ffffff;
  }

.card-prices {
  font-weight: bold;
  font-size: 2.0rem;
}

@media (max-width: 1028px) {
  #title {text-align: center;}
}

/* Footer */

#footer {
  background-color: #ff6666;
  color: #fff;
  padding: 3%;
}

.footer-icon {
  text-align: center;
margin-bottom: 2%
}

.fa-twitter {
  margin: 0 0.5%
}
.fa-twitter:hover {
  color: #454545;
}
.fa-instagram {
  margin: 0 0.5%
}
.fa-instagram:hover {
  color: #454545;
}

.fa-envelope {
  margin: 0 0.5%
}
.fa-envelope:hover {
  color: #454545;
}

.footer-title {
  text-align: center;
  font-size: 0.9rem;
}

.mjc {
  margin: 0
}
.arr {
  margin: 0
}

.icon-twitter{
  color: #ffffff;
  }
  .icon-instagram{
    color: #ffffff;
    }
    .icon-email{
      color: #ffffff;
      }
